/* Master Styles */
body {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden
}
.navbar-custom,
header .intro-text .name {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase
}
.navbar-custom {
    padding: 25px 0;
    transition: padding 0.3s ease 0s;
    background: #2c3e50 none repeat scroll 0 0;
    border: medium none;
    font-weight: 700;
}
.navbar-custom .navbar-brand {
    color: #ffffff;
}
section {
    padding: 100px 0;
}
.btn-row {
    padding: 10px 0;   
}