<section>
    <div class="container">
      <div class="row btn-row">
          <div class="col-xs-12 text-right">
              <button (click)="goToEmployees()" class="btn btn-success">Back</button>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <form *ngIf="active" [formGroup]="employeeForm" (ngSubmit)="onSubmit(employeeForm.value)" >
                  <div class="form-group">
                      <label for="Id">Id</label>
                      <input class="form-control" formControlName="id" id="Id"/>
                      <control-messages [control]="employeeForm.controls.id"></control-messages>
                  </div>
                  <div class="form-group">
                      <label for="name">Name</label>
                      <input class="form-control" formControlName="name" id="name" />
                      <control-messages [control]="employeeForm.controls.name"></control-messages>
                  </div>
                  <div class="form-group">
                      <label for="phone">Phone Number</label>
                      <input class="form-control" formControlName="phone" id="phone" />
                      <control-messages [control]="employeeForm.controls.phone"></control-messages>
                  </div>
                  <div class="form-group">
                      <label for="email">Email</label>
                      <input class="form-control" formControlName="email" id="email" />
                      <control-messages [control]="employeeForm.controls.email"></control-messages>
                  </div>
                  <div class="form-group">
                      <button class="btn btn-default" type="button" (click)="newEmployee()">Reset</button>
                      <button class="btn btn-success" type="submit" [disabled]="!employeeForm.valid">Add Record</button>
                  </div>
              </form>
          </div>
      </div>
    </div>
  </section>